.columnDivContainer div {
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}
.columnDivContainer div:hover {
	text-overflow: ellipsis;
	overflow: visible;
    white-space: unset !important;
}
.incoming_msg_img {
	display: inline-block;
	width: 6%;
}
.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received_msg_content div {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	/*padding: 5px 10px 5px 12px;*/
	width: 100%;
	white-space: initial;
    word-wrap: break-word;
}
.received_msg_content a{
	color: #646464;
}
.sender_information {
	color: #747474;
	display: block;
	font-size: 12px;
	/*margin: 0 0 3px;*/
	width:120%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sender_information:hover {
	text-overflow: ellipsis;
	overflow: visible;
    white-space: unset !important;
}
.received_msg_content {
	width: 57%;
}
.mesgs {
	float: left;
	padding: 30px 15px 0 25px;
	width: 60%;
}
.sent_msg_content div {
	background: #05728f none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0px;
	color: #fff !important;
	/*padding: 5px 10px 5px 12px;*/
	width: 90%;
	white-space: initial;
    word-wrap: break-word;
}
.sent_msg_content div a{
	color: #fff;
}
.outgoing_msg, .incoming_msg{
	overflow: hidden;
	margin: 5px 0 5px;
}
.sent_msg_content {
	float: right;
	width: 70%;
	padding-right:10px;
}
.sent_file_content div {
	/* background: #05728f none repeat scroll 0 0; */
	border-radius: 3px;
	font-size: 14px;
	margin: 0px;
	color: #fff;
	/*padding: 5px 10px 5px 12px;*/
	width: inherit;
	white-space: initial;
    word-wrap: break-word;
}
.sent_file_content div a{
	color: #fff;
}
.outgoing_file, .incoming_file{
	overflow: hidden;
	margin: 5px 0 5px;
}
.sent_file_content {
	float: right;
	max-width:100px;
	width: max-content;
	padding-right:10px;
}
.incoming_msg_img {
	display: inline-block;
	width: 6%;
}
.received_file {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received_file_content div {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	/*padding: 5px 10px 5px 12px;*/
	width: inherit;
	white-space: initial;
    word-wrap: break-word;
}
.received_file_content a{
	color: #646464;
	max-width: 100px;
	display: inline-block;
}
.received_file_content {
	max-width:100px;
	width: max-content;
}
.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 3px 0 0;
}
/* State Logs */
.state_column_1 {
	float: left;
	width: 25%;
  }
  .state_column_2 {
	float: left;
	width: 50%;
  }
  .state_column_3 {
	float: left;
	width: 25%;
  }
  
  .state_row {
  color: #747474;
  display: block;
  font-size: 12px;
  border-bottom: 2px solid#747474;
  border-top: 2px solid#747474;
  margin: 0px 0px 8px 0px;
  text-align:center;
  }
  
  /* Clear floats after the columns */
  .state_row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  #SendButton {
	background-color: #747474; 
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	/*width: 100%;*/
	width: 200px;
	float: right;
	transition-duration: 0.4s;
  }
 
  #SendButton:hover {
	background-color: lightgray;
	color: white;
  }
  /* Intern/Extern Slider Begin*/
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 15px;
	margin-right: 5px;
	top:13px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 5px;
	width: 5px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(46px);
	-ms-transform: translateX(46px);
	transform: translateX(46px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  /* Intern/Extern Slider End*/
  #IntMsgContentP {
	  /* Internal Msg */
	background-color:red; /* Border causes problems with padding and size */  
	margin: 0px;
  }
  #TextModuleDropdownPanel {
	  display: none;
	  position: absolute;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  top: 80px;
	  background: transparent;
	  height:100%;
  }
  #TextModuleDropdownLi {
	  height:35px;
	  line-height:20px;
  }
  li.audio, #audioDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADWSURBVFhH7ZPbDcIwDEXzxRx8MgMsxCA8JCZhEjahjAHXUixVSS52SEAVypGOqBJfx21pGCyZZ2erKTVpsZqPgwljgP8fYBN/GV8fQGomeIV7mA70kwFS11DRtWq8Qa2Tu5encINzvH0yvEGrztsnwxu06rx9MrxBq87bJ4MFV/AC7/ABrQOsfQoLnqHuzWVY+xQWlG9e1rdwF6/fHWDtU1hQB5DDdQB5HQzWx4QFS6/gABlaUw0Lyp/wBOWuxWNcY3QfoJYxwBigeYBeVlNq0uJgiYTwArA80+Iq0iS9AAAAAElFTkSuQmCC") no-repeat left center;
}
li.audio {
    padding-left: 23px;
    background-size: 23px 23px;
}
li.document, #documentDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACWSURBVFhH7Y7BCcAwDAMzRvdfquO0ycNggogV1Y805EAfgewrh5V5hNw1V00K6AGTNAk7yJIuoQq05ykSqkB7miKhCjRSJFQBlCYxjY1Z/EOUaeRhx14C1kXxoI5idCyKB3UU8rBjLwHronhQRzE6FsWDOgp52LGXgHVRPKijGB2L4kEdhTzsOAL/F8jKNOjIlxxWpJQXu2XuQdFCOaUAAAAASUVORK5CYII=") no-repeat left center;
}
li.document { 
    padding-left: 23px;
    background-size: 23px 23px;
}
li.excel, #excelDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAF4SURBVFhH7ZbBKgVhGIZHSklZ2CoLWVpSFpRyC5bKDdgp7sKCi5CUWFuIhRIWFiytFOUOKDzvmK++88v/f+owpXnq6Zz/O8/MnHPmTGeqjo4fMowLuIkH+Ijvjb/CJK7gNl7hK9oBU/vGBh7hE6YHecFL3EG9sSm01/qGP+AD7uM6zqNOQYrvIxaxcLxelfE7j1gkHDZE+/B+w2GD9X673KyID8dwBnU1iFnUj/AChzQA6/12uVkRH26hnu/Wq6o6RK1X69Unvs8R7XrCCdS1/4zT+IZ3OIiG9X673KxIGu6h1qfN4zJ6rDdFblYkDefQZtc4gJ60/45o9yVcRJvdov/6hb1mitysSBqeoM79MWruf4DCer9dblbEh/bpz9FOxT3aJSh8nyPa9YT69Hq+Vq+q6gz9WlhvitysiA9HUZefHsUS6tu4wRENwHq/XW5WJBw2RPvwfsNhQ7QP79fC1v+OZSs3JK3fknlauSnN8ee35R3/nar6AGE9FOoqACD0AAAAAElFTkSuQmCC") no-repeat left center;
}
li.excel {
    padding-left: 23px;
    background-size: 23px 23px;
}
li.image, #imageDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADKSURBVFhH7ZRRCsJADET3xyuIh/RoXsd6nDYjDoSQwiZNpR95MOCuTeZ9WEdzZdZEPpKHpASvYCZlElw4S7lEVgDlJRJZAZSWSGQFQIlEVsALJMJweBZd6CVMetDQAn8XeEkWye17Okng/osHBN6S0wT4jtv3e0+qVED/wSCU2JMC3p4p7KAuZ5n9zLOW4H0YPWjLcdZ3vLfPAH4fRg8+JXYxoATvtRRmgN4Twg5ioS4n9seHZ1gOygSytEALHBaoShhvyZE0V2SMDZYl19wjm4vNAAAAAElFTkSuQmCC") no-repeat left center;
}
li.image {    
    padding-left: 23px;
    background-size: 23px 23px;
}
li.pdf, #pdfDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAElSURBVFhH7ZMxagJBFIY3EEKKQDAhjTlAmoAH8QCpcgBBsE2Tyl5IkS6QCwS0CuQENkIIVoJ4giCpIkjUfP/igCw+3HVnwGI++HDfezvDz+yYRA6ZlWcLs22TMhZm74UZYoAYIFiAOr7gbVrZBAvwjZoP08omWIA5unfO1DDYtY/JroV91PwPT9UwCBagiZoP0somWIBzXGI3rWyCBaih5r94pYZBsAAN1HyGb2oYBAlwhF/4gx+o93qoz/GM1+jwHuAGO+jmm05RJ/KODjcrTHbhMb6iLp76Y7zDC6zgBBeov+UTOrwFaKHq0fr3Hje5xEd8wBM11mT3yU12YRt1vLr1n6gTyYO3AFXUhdNF03NevAXYlxigdABfFmbbJmWMHCJJ8g+cXtjxi5Q+kwAAAABJRU5ErkJggg==") no-repeat left center;
}
li.pdf {
    padding-left: 23px;
    background-size: 23px 23px;
}
li.video, #videoDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADBSURBVFhH7ZRbCsJADEXnQ/egq9Et+dUN6YpEXIf4r71RA6WM15mYkipz4NDHkOT2mRpz5m7wDFfQhdyAEt1CaMNS3ENYA8hwlxDWADLUJYQ1gOASwhogp4SoRotLGQ7MWY25cMR/Bujg8rn7kUkCyPkj3DyOOJMFEG9wD9fwHawPhRXq2vW1vcAdXMAxrA+FFeqaXPkByp2Q4xPcwiGsD4UV6lp4gPBHEPoShn6G4T+iGlqA3w/gZTW5Jt/YmCMp9RqM1VFwOZVOAAAAAElFTkSuQmCC") no-repeat left center;
}
li.video {
    padding-left: 23px;
    background-size: 23px 23px;
}
li.file, #fileDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABnSURBVFhH7c6xDQAhDEPRjMH+SzHOQQqkE0qRGBcg+UsuIc/UzX3A+lyboxQdyIyGWB9moyNQgB+nIFCAH6UgUIBHQaCAaI4otx5n+x+MVg5+uCWAAAIIIIAAArwPYK1c9MnJ1I2ZDVuosn0Nj2a/AAAAAElFTkSuQmCC") no-repeat left center;
}
li.file {
    padding-left: 23px;
    background-size: 23px 23px;
}
li.zip, #zipDiv {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAI3SURBVFhH7Za5yhRBGEVbUQMFxQX3JzBSU8FUUdwwNzBQRBBBMdXQNxAMfA8XEEGUH9RMA0UQzNwi18Dl3GIu83XN19M9o4HBHDg0tdyaXqpqqlmwoOL3P/AF7sG5yAacx+94GZfhTJzBONAd3IZmH77G2OcN7kexGm+i2+5izPeyHR3+MLq+x6No1uItdD/5E6/jKhTHMeaP4SB8Ax9xJ94bleUN1BOak+gfsc9wFwqNpTfQlU85i+p8v5SaZjnqW+qbqv4JrkCj13sb/SPyG5q+/AQe5EopjdmLb1Ftp1UR0ES7gM7KGq2KrnwLD6CnuIhxFp9Htfnt1DgrM/ryhUMYB9Lr9Szegqr7VEqTxFxGX76wHj1IvQo8QT9jhnMyYzNOyxd8A7rLehU8HV0fYob7yQxP8K58wZ/gcSlNzmJ5CiOuzzTaH16i6up8CwevldIYrQIPcE4VAWcyzTp8jqqr8y0c1BNfwrgKDqLa9CkizkSyugOY5VtosjkstQq2otiIqvtaSmPcN5LVaQvP8i2yVfAOD6MH+IIR98+MdOVbxFWwA70KfqH3dW2nEdV1GfEnqPMthqwC/WVnuF3WbEJPwq58wQNcLaUxu/EVThvAWVkz8w38QD253oDpe4XOyoxBn6A+0WgOaAsWa1B1XbPYGZkxaBWYeKLR9QRqM1F53v+CDai2qX9GkfpE82B0XcIM95MZR1Btj0ppINkq+Ft1LpgZnWh03s8GnEWdGVfigv+FpvkD1bhPgQ09Y7QAAAAASUVORK5CYII=") no-repeat left center;
}
li.zip {
    padding-left: 23px;
    background-size: 23px 23px;
}
#audioDiv, #documentDiv, #excelDiv, #imageDiv, #pdfDiv, #videoDiv, #fileDiv, #zipDiv {
    /*height: 26px;*/
    /*width: 57px;*/
    margin:auto;
	padding-left: 34px;
	width: calc(100% - 34px) !important;
}
.filecontent_div{
	/*background-color:#ccc  !important;*/
	width:min-content !important;
}
.filecontent_div a{
	color: #747474 !important;
}
.filecontent_div:hover {
	border-color: rgb(243, 193, 123) !important;
	
}
.filecontent_div:hover a {
	color: #fff !important;
}
.received_msg_content div img,.sent_msg_content div img {
    width: -moz-available !important;
    width: 100% !important;
    width: -moz-available !important;
    width: -webkit-fill-available !important;
    width: stretch !important;
	height: -moz-available !important;
    height: 100% !important;
    height: -moz-available !important;
    height: -webkit-fill-available !important;
    height: stretch !important;
}
.cke_combopanel__text_module {
	width: 208px !important;
	height: 212px !important;
}
.cke_panel_list {
	 padding: 0 !important; /* Y no worke?! */
}