/*Um die select-Elemente muss "select-wrap"-div*/

@import url('https://css.gg/arrow-down-o.css');

body {
    /*background: rgb(232 150 32 / 0.1);*/
}

*{
    font-family: "Segoe UI Light", "Segoe WP Light", device-segoe-light, "Segoe WP Semilight", "Segoe UI", "Segoe WP", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    color: #4b4b4b;
    font-weight: normal;
}

.table-label {
    position: relative;
    float: left;
}

table.table-info tbody {
    position: relative;
    float: left;
    width: 100%;
}

.table-info, .table-company {
    border-spacing: 0px;
}

.table-info p,
.table-company,
.table-info b {
        font-size: 10.5px !important;
}

.salesperson .ticket p {
    font-weight: 400;
    box-sizing: border-box;
}

.hide {
    display: none !important; 
}

.ticketname {
    font-size: 13.5px;
    margin-bottom: 10px;
}

.salesperson {
    position: relative;
    float: left;
    margin: 20px 20px;
    background: none !important;
    flex: 1 1 auto;
}

.table-info, .table-company {
    width: 100%;
    padding: 0 20px;
}

.ticket p {
    padding: 0 20px;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
    float: left;
}

p.ticketnumber, p.prio-info {
    padding: 10px 20px !important;
}

.vk-title {
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    margin: 10px 0px;
    background: #00B7C3;
    position: relative;
    min-height: 20px;
}

select#mySelect {
    width: 25%;
    margin: 0;
    border: none;
    height: 38px;
    background: none;
    margin-left: 20px;
    position: relative;
    float: left;
    border: 1px solid #d4d4d4;
    padding-left: 10px;
    font-size: 12px;
    cursor: pointer;
}

.select-wrap {
    border: 1px solid black;
    margin: 0 20px;
    border-radius: 4px;
    position: relative;
    background: #fff;
}

.select-wrap:before {
    content: 'Zuordnung';
    position: absolute;
    left: 10px;top: -7px;
    color: #000;
    background: #fff;
    padding: 0 5px;
    font-size: 9px;
    line-height: 1;
}

.ticket {
    background: #fff !important;
    color: #4b4b4b !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    position: relative;
    padding-bottom: 20px;
}

.table-info {
    border-spacing: 0px 0px;
}

.mySelect-wrap {
    position: relative;
    padding-bottom: 10px;
    display:none;
}

.mySelect-wrap:before {
    content: 'Zuweisung';
    position: absolute;
    left: 60px;
    top: -18.5px;
    font-size: 9px;
    background: #fff;
    z-index: 1;
    padding: 4px;
}

.mySelect-wrap select{
    width: calc(75% - 50px);
}


p.prio-info {
    color: #ccc;
}

.ticket-head {
    background: #f5f4f4;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.salesperson > p b {
    color: #fff;
}

td.company-name-info.table-info, td.company-name.table-label {
    color: rgb(75 75 75 / 0.7);
}

button.open-ticket {
    width: calc(75% - 50px);
    padding: 10px 15px;
    border: none;
    background: #00B7C3;
    color: #fff;
    font-size: 12px;
}

button.fold {
    padding: 1px;
    border: none;
    background: #00B7C3;
    color: #fff;
    font-size: 12px;
}

.fold i, .fold p {
    color: #fff;
    position: relative;
    float: left;
    margin: 0px;
}

.fold p {
    margin: 2px;
    margin-right: 10px;
    color: #fff;
}

.fold b {
    color: #fff;
}


.prio-info b {
    color: #878787;
}

.ticket-buttons-wrap {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: none;
}

button.up div {
    border-left: 3px solid #878787 !important;
    border-top: 3px solid #878787 !important;
}

button.down div {
    border-bottom: 3px solid #878787 !important;
    border-right: 3px solid #878787 !important;
}

.ticket-buttons-wrap button {
    background: none;
    border: none;
    padding: 6px !important;
}

.change-view {
    position: absolute;
    top: 4px;
    right: 16px;
    z-index: 1;
}

img.folder1 {
    width: 35px;
    height: 35px;
    margin-right: 4px;
}

img.folder2 {
    width: 34px;
}

table.table-info td {
    width: 50%;
    position: relative;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

table.table-info tr {
    width: 100%;
    position: relative;
    float: left;
}

table.table-company tbody {
    position: relative;
    float: left;
    width: 100%;
}

table.table-company td {
    width: 50%;
    position: relative;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

table.table-company tr {
    width: 100%;
    float: left;
}

table.table-company tr > td,
table.table-info tr > td {
    width: 40%;
}

.ticket-head p {
    margin: 0px;
}

.ticket-buttons-wrap button {
    position: relative;
    float: left;
    cursor: pointer;
}

.ticket-buttons-wrap button:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none;
}

.ticket-buttons-wrap button:hover {
    transform: scale(1.1);
}

button.open-ticket:hover {
    opacity: 0.5;
}

.ticketname {
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align : left;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.company-name-info, td.last-change-date-info, td.open-date-info, td.contact-name.info {
    width: 60% !important;
}

img.folder1, img.folder2 {
    cursor: pointer;
}

img.folder1:hover, img.folder2:hover {
    transform: scale(1.05);
}

select#mySelect:focus {
    outline: none;
}

.navButtons {
    position: absolute;
    z-index: 2;
    float: left;
    width: 100%;
    margin: 0px 20px;
}

.gg-arrow-down-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 20px
}
.gg-arrow-down-o::after,
.gg-arrow-down-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 4px
}
.gg-arrow-down-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    left: 6px
}
.gg-arrow-down-o::before {
    width: 2px;
    height: 10px;
    left: 8px;
    background: currentColor
}

button.fold:focus {
    outline: none;
}

button.fold:hover {
    opacity: 0.5;  
}

button.fold:hover i {
    transform: scale(1.1);
}

.vk-title p, .vk-title b {
    color: #ffffff;
    margin: 0px;
}

.vk-title p, .vk-title b {
    position: relative;
    width: auto;
    display: inline-block;
    float: left;
}

.vk-title p:last-child {
    float: right;
}

.salesperson-wrap {
    width: 100%;
    /*max-height: 860px;*/
    height:100%;
    overflow: auto;
}

.salesperson-wrap th {
    display: table-cell;
    vertical-align: top;
    font-weight: inherit;
    padding: 0px;
}

.salesperson-wrap table {
    text-indent: unset;
    border-spacing: 0;
}

p.ticketname {
    text-align: left;
}

.ticket {
    white-space: nowrap;
}

td.contact-name.table-label {
    text-align: left;
}

td.open-date.table-label {
    text-align: left;
}

td.open-date.table-label {
    text-align: left;
}

td.last-change-date.table-label {
    text-align: left;
}

tr.change-date-wrap {
    margin-bottom: 20px;
}

td.company-name-info.table-info {
    text-align: left;
}

tr.company-name-wrap {
    text-align: left;
}

td.contact-name.info {
    text-align: left;
}

td.open-date-info.table-info {
    text-align: left;
}

td.last-change-date-info.table-info {
    text-align: left;
}

p.ticketnumber {
    width: 144px;
    text-align: left;
}

/*CLOSED*/

.ticket.closed {
    border-bottom: 8px solid #f5f4f4;
    padding-bottom: 40px;
}

.closed p.prio-info {
    bottom: 11px;
}

.closed .ticket-buttons-wrap {
    bottom: 0;
}



/*CLOSED END*/