.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_msg_content p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}


.sender_information {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 0 0 3px;
}

.received_msg_content {
	width: 57%;
}

.mesgs {
	float: left;
	padding: 30px 15px 0 25px;
	width: 60%;
}

.sent_msg_content p {
	background: #05728f none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 90%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg_content {
	float: right;
	width: 46%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 3px 0 0;
}


  /* State Logs */
.state_column_1 {
	float: left;
	width: 25%;
  }
  .state_column_2 {
	float: left;
	width: 50%;
  }
  .state_column_3 {
	float: left;
	width: 25%;
  }
  
  .state_row {
  color: #747474;
  display: block;
  font-size: 12px;
  border-bottom: 2px solid#747474;
  border-top: 2px solid#747474;
  margin: 0px 0px 8px 0px;
  text-align:center;
  }
  
  /* Clear floats after the columns */
  .state_row:after {
	content: "";
	display: table;
	clear: both;
  }